
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Phantom runner sample</h1> 
        <p>output from sample.js run with PhantomJS</p>
        <p>@ViewBag.Result</p>
    </div>
</body>
</html>
